<!DOCTYPE html>
<head>
   <title>SPY BOT</title>
   <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<style>
	a
	{
		text-decoration:none;
		padding:3px;
	}
	button
	{
		
	}
	body
	{
		background-color:#222222;

	}
	h1
	{
		font-family:;
	}
	
</style>
<body>
<h1 class="text-center text-primary">SPY-BOT</h1>
<br />
<center><img src="img.jpg" class="img-responsive" alt="bot-video" width="640px" height="400px" /></center>
<br />
<center><a href="/forward"><button class="btn-primary btn">FORWARD</button></a></center>
<div style="margin-left:42%;">
	<a href="/left"><button class="btn-primary btn">LEFT</button></a>
	<a href="/stop"><button class="btn-danger btn">STOP</button></a>
	<a href="/right"><button class="btn-primary btn">RIGHT</button></a>
</div>

<a href="/backward"><button class="btn-primary btn" style="margin-left:46%"> BACKWARD</button></a>

<div>
	<a href="/up"><button class="btn-success btn" > UP</button></a>
	<a href="/hold"><button class="btn-success btn" style="margin-left:90%;"> HOLD</button></a>
</div>
<div>

<a href="/down"><button class="btn-danger btn" > DOWN</button></a>
<a href="/stophand"><button class="btn-danger btn" > STOP-HAND</button></a>
<a href="/leave"><button class="btn-danger btn" style="margin-left:87.8%"> LEAVE</button></a>
</div>
</body>
</html>


</body>
</html>

